<!DOCTYPE html>
<html>
<head>
  <title>User and Resource Management</title>
</head>
<body>
  <h1>Users:</h1>
  <ul>
    {{#each users}}
      <li>{{name}}</li>
    {{/each}}
  </ul>

  <h1>Resources:</h1>
  <ul>
    {{#each resources}}
      <li>{{name}} - {{quantity}}</li>
    {{/each}}
  </ul>
</body>
</html>
